# ==============================================================================
# QCU MSC Frontend CODEOWNERS
# ==============================================================================

# 1. Default Fallback (Project config, dependencies, security)
* @microsoft-student-community-qcu/cloud-team @microsoft-student-community-qcu/qa-team @microsoft-student-community-qcu/cybersecurity-team

# 2. Cloud & DevOps Infrastructure
/.github/ @microsoft-student-community-qcu/cloud-team

# 3. Frontend application & Environment Templates
/src/ @microsoft-student-community-qcu/qa-team @BootlegYouki
/.env.example @microsoft-student-community-qcu/qa-team @BootlegYouki
